@use 'base/variables' as v;
@use 'base/mixins' as m;

.main {
  bottom: 4.6rem;
  left: 0;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  top: 6rem;
  padding-top: 2rem;

  @include m.desktop {
    padding: 2rem 0;
  }
}
